#apibackend {
  font-size: medium;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#footer1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; /* Height of the footer */
  background: brown;
  font-size: small;
}
